<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990753180873-putup8r2bmni8ht15n0c8d9j2sqrigut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990753180873-putup8r2bmni8ht15n0c8d9j2sqrigut</string>
	<key>API_KEY</key>
	<string>AIzaSyB5lo-PHfYpn5fsIQRWASD5rG8n5hjN-QI</string>
	<key>GCM_SENDER_ID</key>
	<string>990753180873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>parkjonghun.WariKan</string>
	<key>PROJECT_ID</key>
	<string>warikan-8ffef</string>
	<key>STORAGE_BUCKET</key>
	<string>warikan-8ffef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990753180873:ios:c1b1f9f56378ac90bb1118</string>
</dict>
</plist>